body{
    margin: 0;
    padding: 0;
    background-color:#f8f8f8;
    font-family: 'Roboto', sans-serif;
}
p,a,h1,h2,li{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
/** Header Styling**/
header{
    background-color: #125784;
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 50px;
}
header div{
    width: auto;
    height: 100%;
}
.h-logo{
    width: auto;
    height: 90%;
    padding-bottom: 20px;
}
header div a img{
    width: auto;
    height: 150%;
}
.Menu{
    margin-left: auto;
    padding-top: 20px;
}
header div nav menu{
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0 10px;
}
header div nav menu li{
    margin-right: 20px;
    font-size: 18px;
}
header div nav menu li a{
    color:white;
    text-decoration: none;
}
.Search-bar li a{
    color: #123784;
    border: solid 2px #f8f8f8;
    background-color: #f8f8f8;
    float: right;
}
/** Masthead **/
.masthead{
    height: 100vh;
    background-image: url("./resources/img1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
.masthead div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.masthead h1{
    font-size: 50px;
    color: #f8f8f8;
    left:18%;
    top: 53%;
    position: absolute;
}
/*Section1 Styling*/
.section-1{
    display: grid;
    grid-template-columns: 75% 25%;
    margin: -200px;
}
.section-1 div{
    height: 50%;
}
.section-1 img{
    height: 100%;
}
.text{
    grid-column: 1/2;
    color: #f8f8f8;
    background-color: #f57f17;
}
.sec1-img{
    grid-column: 2/2;
}
/* Section 2 Styling*/
.section-2{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.img1 img{
    grid-column: 1/3;
}
.img2 img{
    grid-column: 2/3;
}
.img3 img{
    grid-column: 3/3;
}
/* Section 3 Styling */
.section-3{
    background-color: #5e35b1;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.section-3 form{
    align-items: center;
    justify-content: center;
    width: 100%;
}
/* Footer Styling*/
footer{
    background-color: black;
}
.footer{
    display: grid;
    grid-template-columns: 25% 75%;
}
.f-logo{
    grid-column: 1/2;
    align-items: center;
    justify-content: center;
}
.f-logo img{
    width: 40%;
}
.f-text{
    grid-column: 2/2;
    color: white;
}